* {
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-background);
}

main {
  margin: 0 auto;
  max-width: 940px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  margin-top: 2rem;
}

.line-break {
  display: block;
  margin-top: 2rem;
}

.bold {
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: var(--border-radius);
  display: block;
  object-fit: contain;
}

@media only screen and (max-width: 900px) {
  main {
    margin-bottom: 2rem;
  }

  img {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  main {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
  }
}