* {
  font-size: 1rem;
}

body {
  background-color: var(--primary-background);
}

main {
  margin: 0 auto;
  max-width: 1500px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

.line-break {
  display: block;
  margin-top: 2rem;
}

.bold {
  font-weight: 700;
}

img {
  width: 100%;
  border-radius: var(--border-radius);
  max-height: 100vh;
  display: block;
  object-fit: contain;
}

.image-transition {
  view-transition-name: image-transition;
  contain: layout;
}

@media only screen and (max-width: 900px) {
  main {
    width: auto;
    padding: 0 4rem;
    margin-bottom: 2rem;
  }

  img {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  main {
    max-width: 100%;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 375px) {
  main {
    padding: 0 0rem;
    margin: 0 1rem;
  }
}