body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
}

header {
  top: 0;
  width: 100vw;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 10%;
  view-transition-name: header;
  contain: layout;

  >* {
    text-decoration: none;
    color: var(--white);
  }
}

main {
  margin: 0 auto 0 auto;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 54px);

  >article {
    width: 35%;

    >h1 {
      font-size: 40px;
    }

    >p {
      margin-top: 2rem;
    }
  }

  .gallery-Section {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    max-width: 50%;

    >a {
      position: relative;

      >img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: top;
        border-radius: 20px;
      }

      >span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d4bbfff6;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 30px;
      }

      &:hover >span {
        opacity: 1; /* Show the span when the a tag is hovered */
      }
    }
  }

  .project-section {
    max-width: 50%;
    background-color: #d4bbff;
    padding: 26px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
    view-transition-name: project-section;
    contain: layout;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 26px;
    scroll-behavior: smooth;

      >img {
        width: 100%;
        border-radius: 20px;
        scroll-snap-align: center;
      }
  }
}

.image-transition {
  view-transition-name: image-transition;
  contain: layout;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s;
}

.show {
  opacity: 1;
}